* {
    margin: 0;
    padding: 0;
    background-color: black; 
    color: red;
  }
  
header
{
    width: 100%; 
    height: 225px; 
     
    color: white;}
h1
{
    text-align: center;
    color: white;
}
h2 {
        text-align: center;
        color: yellow;
   }
   h3 {
    text-align: center;
    color: greenyellow;
   }
img {
        display: block;
        height: 200px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid white;
    }
ul {
        Padding-left:40px;
        font-size: 20px;
   }
p {
        text-align: center;
        font-size: 30px;
  }
  .card {
    width: 90%;
    margin: 40px auto;
    border: 5px solid white;
    box-shadow: 5px 10px rgb(174, 171, 171);
  }